{
    "presets": ["env", "stage-0"],
    "plugins": [
        "transform-runtime",
        ["@nutui/babel-plugin-separate-import", {
            "style": "css"
        }],
        "transform-remove-strict-mode"
    ]
}